RegistrationClientApplication/src/META-INF/wsdl/localhost_8080/testWS/RegistraciaWSDLService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.netbeans.org/schema/newXmlSchema" targetNamespace="http://xml.netbeans.org/schema/newXmlSchema" elementFormDefault="qualified">
    <xsd:element name="Adresa">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Obec">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Ulica">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Cislo" type="xsd:int"/>
                <xsd:element name="PSC">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[0-9]{5}"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Student">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OsobneCislo">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Meno">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Priezvisko">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DatumNarodenia" type="xsd:date"/>
                <xsd:element name="Email">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element ref="tns:Adresa"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UcetAIS">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idUctu">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Typ">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element ref="tns:Student"/>
                <xsd:element name="Heslo">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DatumExpiracieHesla" type="xsd:date"/>
                <xsd:element ref="tns:Predmet" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Predmet">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idPredmetu" type="xsd:ID"/>
                <xsd:element name="Nazov">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Odbor">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PocetKreditov" type="xsd:int"/>
                <xsd:element name="Zaciatok" type="xsd:date"/>
                <xsd:element name="CasPrednasok">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="MiestnostPrednasok">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="MiestnostCviceni">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Prednasajuci">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element ref="tns:Ucitel"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Cviciaci">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element ref="tns:Ucitel" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Ucitel">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="OsobneCislo" type="xsd:ID"/>
                <xsd:element name="Meno">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Priezvisko">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Email">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Prednasky" type="xsd:IDREFS"/>
                <xsd:element name="Cvicenia" type="xsd:IDREFS"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RegistraciaRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="idUctu">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="idPrednasky">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RegistraciaResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:UcetAIS"/>
                <xsd:element ref="tns:Predmet"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>